*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.editor .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.editor .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.editor .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.editor .ql-snow .ql-picker.ql-size .ql-picker-label::before,
.editor .ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: attr(data-value);
}

@media print {
  body {
    background: none;
  }
  .editor .ql-editor {
    width: 6.5in;
    min-height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    justify-content: flex-start;
  }

  .editor .ql-toolbar.ql-snow {
    display: none;
  }
}

@page {
  margin: 1in;
  size: A4;
}
